{% extends 'index.html' %}


{% block content %}

<div class="container mt-4">
    <table class="table table-secondary">

        <thead>
            <tr>
                <th>#</th>
                <th>Dueño</th>
                <th>Edad</th>
                <th>Descripcion</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.user_id }}</td>
                <td>{{ animal.age }}</td>
                <td>{{ animal.description }}</td>
                <td>{{ animal.picture }}</td>
                <td>
                    
                    <a href="{% url 'get_animal_id' animal.id %}" class="btn btn-primary">Detalle</a>

                    <a href="{% url 'process_image' animal.id %}" class="btn btn-success">Procesar</a>
                    <a href="{% url 'delete_animals' animal.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalle de solicitud</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">

                    <span>
                        Dueño: {{ data.user_id }}
                    </span>
                    <br>
                    <span>
                        Edad: {{ data.age }}
                    </span>
                    <br>
                    <span>
                        Descripcion: {{ data.description }}
                    </span>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        data-backdrop="false">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- endmodal -->
</div>


{% endblock %}