{% extends 'index.html' %}

{% block content %}
    <div class="container d-flex justify-content-center py-5 mt-4">
        
        <form action="" method="post" enctype="multipart/form-data" class="p-5">
            <h1 class="text-center pb-4">Registrar Cerdo</h1>
            {% csrf_token %}
            <div class="form-group pt-4">
                <label for="age">Edad</label>
                {{ form.age }}
            </div>
            <div class="form-group pt-4">
                <label for="description" name="description">Descripción</label>
                {{ form.description }}
            </div>
            <div class="form-group pt-4">
                <label for="age" name="age">Foto del cerdo</label>
                {{ form.picture }}
            </div>
            <div class="form-group pt-4">
                <label for="raza" name="raza">Raza</label>
                {{ form.raza }}
            </div>
            <div class="form-group pt-4">
                <label for="establo" name="establo">Establo</label>
                {{ form.establo }}
            </div>
            <div class="form-group pt-4">
                <label for="galpon" name="galpon">Galpon</label>
                {{ form.galpon }}
            </div>
            <div class="form-group pt-4">
                <label for="born_date" name="born_date">Fecha de nacimiento</label>
                {{ form.born_date }}
            </div>
            <div class="form-group pt-4">
                <label for="place_of_birth" name="place_of_birth">Lugar de nacimiento</label>
                {{ form.place_of_birth }}
            </div>


            <button type="submit" class="btn btn-primary w-100 mt-4"> Registrar</button>
        </form>
    </div>
{% endblock %}