{% extends 'index.html' %}
{% load static %}
{% block content %}
    
<div class="container d-flex justify-content-center align-items-center vh-100 ">
    <div class="row border border-dark shadow-lg border-4 rounded-5">
        <!-- columna izquierda -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <img src="/static/img/logopig.jpg" alt="" style="width: 120px;">
            <h1>Detalles</h1>
        </div>
        <!-- columna derecha -->
        <div class="col-12 col-md-6 p-4 ">
            <p class="fw-bold">
                <span>
                    Dueño: {{ data.user_id }}
                </span>
                <br>
                <span>
                    Edad del cerdo: {{ data.age }}
                </span>
                <br>
                <span>
                    Descripcion: {{ data.description }}
                </span>
                <br>
                <span>
                    F registro: {{ data.register_date }}
                </span>
                <br>
                <span>
                    Granja: {{ data.establo }}
                </span>
                <br>
                <span>
                    Galpon: {{ data.galpon }}
                </span>
                <br>
                <span>
                    Fecha de nacimiento: {{ data.born_date }}
                </span>
                <br>
            </p>

            <!-- foto -->
            <div class="">
                <img src="{{data.picture.url}}" alt="" width="250px" height="250px">
            </div>
            <a href="{% url 'get_animals' %}" class="btn btn-success mt-4">Volver atras</a>
        </div>
    </div>
</div>



{% endblock content %}
