{% extends 'base.html' %}


{% block content %}

<main class="container py-5 px-2">

    <div class="title">
        <h2 class="text-center p-2 mb-4">Contacto</h2>
        <hr>
    </div>

    <div class="row">
        <div class="col col-sm-12 col-md-6">
            Somos lideres en el diagnostico automatizado de neumonía en cerdos, nuestro dataset a sido alimentado por
            miles de imágenes y nuestra red neuronal a sido entrenada bajo rigurosos procesos de testing y calidad,
            garantizando el diagnostico oportuno y seguro.
            <p class="h6 text-success text-muted mt-5 "><i class="bi bi-telephone-inbound-fill"> Contacto:
                    +51975-121-042</i>
            </p>
            <p class="h6 text-success text-muted mt-2"><i class="bi bi-person-add"></i>
                Persona de contacto: Paul Zapata
            </p>

            <div class="row">
                <div class="col col-sm-12 col-md-12 pt-4">
                    <p class="h5 text-center mt-4">Redes sociales</p>
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><i class="bi bi-twitter"></i></li>
                        <li class="list-inline-item"><i class="bi bi-facebook"></i></li>
                        <li class="list-inline-item"><i class="bi bi-instagram"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.9476277421227!2d-79.8595333!3d-6.7762291999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x904cef1b89f9441b%3A0x4bbe937284210680!2s9%20de%20Octubre%2C%20Chiclayo%2C%20Per%C3%BA!5e0!3m2!1ses-419!2sve!4v1668537429932!5m2!1ses-419!2sve"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</main>





{% endblock content %}