{% extends 'base.html' %}


{% block content %}
<div id="content" class="vh-100 overflow-auto">

    <h2 class="px-5">Bienvenidos a World Pig</h2>
    <div class="d-flex justify-content-center">
        <img src="/static/img/flame-dna-research.png" alt="">
    </div>
    <div class="container">
        <p>
            La carne de cerdo es la de mayor consumo a nivel global, la producción porcina registra un crecimiento tanto
            en el número de cabezas, como en el volumen de carne producida en todo el mundo. La carne de cerdo juega un
            papel importante como principal fuente de proteína en países en desarrollo como en países desarrollados. La
            porcicultura es una de las principales actividades económicas del subsector pecuario, el consumo de carne de
            cerdo ocupa el tercer lugar en producción a nivel nacional después de la carne de pollo y bovino. La
            porcicultura, es una actividad que puede resultar muy redituable si se tiene un buen plan de manejo que
            involucre aspectos de nutrición, sanidad, reproducción y genética. Cualquier explotación, extensiva o
            intensiva puede alcanzar el éxito si se considerándose estos aspectos, por tal motivo se ha realizado este
            sistema para poder brindar las facilidades de ver el tipo de neumonía que tiene tu cerdo y de acuerdo a eso
            detectar a tiempo una pronta recuperación del animal.

        </p>
    </div>
    <hr>

    <!-- Ventajas -->
    <section class="ventajas py-5 bg-light">
        <div class="container py-5">
            <h1 class="text-center pb-5">Ventajas</h1>
            <hr>
            <div class="row pb-3">
                <div class="col-lg-4 mb-3">
                    <div class="card text-center shadow" style="border-color: rgb(249, 156, 8);
                    background-color: rgb(236, 236, 236);">
                        <div class="card-body">
                            <div class="circle" style="height: 70px;
                            width: 70px;
                            background-color:rgb(195, 196, 195);
                            color: black;
                            padding: 12px;
                            display: inline-block;
                            margin-bottom: 20px;
                            font-size: 30px;
                            border-radius: 50%;">
                                <span><i class="fa-solid fa-rotate"></i></span>
                            </div>
                            <h4 class="fw-bold pb-2">Siempre actualizado</h4>
                            <p>
                                Puede subir una solicitud de examen autmotizado para neumonia en cerdos y obtendra
                                resultados pronto.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="card text-center shadow" style="border-color: rgb(249, 156, 8);
                    background-color: rgb(236, 236, 236);">
                        <div class="card-body">
                            <div class="circle" style="height: 70px;
                            width: 70px;
                            background-color:rgb(195, 196, 195);
                            color: black;
                            padding: 12px;
                            display: inline-block;
                            margin-bottom: 20px;
                            font-size: 30px;
                            border-radius: 50%;">
                                <span><i class="fa-solid fa-display"></i></i></span>
                            </div>
                            <h4 class="fw-bold pb-2">Todo en un solo sitio</h4>
                            <p class="" style="color:gray">
                                Tanto las solicitudes como los resultados estaran, a un click de distancia sin
                                intermediarios ni molestos retrasos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="card text-center shadow" style="border-color: rgb(249, 156, 8);
                    background-color: rgb(236, 236, 236);">
                        <div class="card-body">
                            <div class="circle" style="height: 70px;
                            width: 70px;
                            background-color:rgb(195, 196, 195);
                            color: black;
                            padding: 12px;
                            display: inline-block;
                            margin-bottom: 20px;
                            font-size: 30px;
                            border-radius: 50%;">
                                <span><i class="fa-solid fa-lock"></i></span>
                            </div>
                            <h4 class="fw-bold pb-2">Anonimato</h4>
                            <p>
                                Sus resultados son anonimos, puede tener la seguridad de que solo usted podra obtenerlos
                                y consultarlos cuando disponga.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- second row -->
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="card text-center shadow" style="border-color: rgb(249, 156, 8);
                    background-color: rgb(236, 236, 236);">
                        <div class="card-body">
                            <div class="circle" style="height: 70px;
                            width: 70px;
                            background-color:rgb(195, 196, 195);
                            color: black;
                            padding: 12px;
                            display: inline-block;
                            margin-bottom: 20px;
                            font-size: 30px;
                            border-radius: 50%;">
                                <span><i class="fa-solid fa-square-check"></i></i></span>
                            </div>
                            <h4 class="fw-bold pb-2">Resultados confiables</h4>
                            <p>
                                Tendra la seguridad de que los resultados obtenidos para su solictud, seran cercanos al
                                100% de efectividad.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="card text-center shadow" style="border-color: rgb(249, 156, 8);
                    background-color: rgb(236, 236, 236);">
                        <div class="card-body">
                            <div class="circle" style="height: 70px;
                            width: 70px;
                            background-color:rgb(195, 196, 195);
                            color: black;
                            padding: 12px;
                            display: inline-block;
                            margin-bottom: 20px;
                            font-size: 30px;
                            border-radius: 50%;">
                                <span><i class="fa-solid fa-rocket"></i></span>
                            </div>
                            <h4 class="fw-bold pb-2">Rapidez</h4>
                            <p>
                                Sus solicitud sera procesada con la mayor inmediatez, sabemos la importancia de los
                                resultados para su modelo de negocio
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="card text-center shadow" style="border-color: rgb(249, 156, 8);
                    background-color: rgb(236, 236, 236);">
                        <div class="card-body">
                            <div class="circle" style="height: 70px;
                            width: 70px;
                            background-color:rgb(195, 196, 195);
                            color: black;
                            padding: 12px;
                            display: inline-block;
                            margin-bottom: 20px;
                            font-size: 30px;
                            border-radius: 50%;">
                                <span><i class="fa-solid fa-wallet"></i></span>
                            </div>
                            <h4 class="fw-bold pb-2">Pague solo lo que necesite</h4>
                            <p>
                                Con nuestro servicio solo cancela las solicitudes que necesite, no planes adicionales.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section class="testimonos py-5">
        <h1 class="text-center pb-4">Testimonios</h1>

        <hr>
        <div class="container d-flex align-items-center justify-content-center alto-100">
            <div class="row">
                <!-- primera izquierda  -->
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col-12 col-lg-8 p-2">
                            <article class="card h-100" style="background-color:#bc92ff; ">
                                <div class="card-body">
                                    <div class="d-flex mb-3 text-light">
                                        <img src="../static/img/image-daniel.jpg" alt=""
                                            class="border border-secondary border-3  rounded-circle">
                                        <div class="ps-3">
                                            <h6 class="m-0 h5">Daniel Morales</h6>
                                            <p class="m-0 ">Granja la caridad</p>
                                        </div>

                                    </div>
                                    <div>
                                        <p class="h6 text-light text-opacity-75">Contratar sus servicios es una de las
                                            mejores decisiones que hemos tomado, el diagnostico es super rápido, el personal es muy receptivo y atento, resultados bastante confiable de acuerdo a las expectativas.</p>
                                        <p class="fs-6 lh-1 text-light text-opacity-75">
                                            Mis cerdos están ahora mejor cuidados, no tenemos que esperar la visita de un especialista en nuestras instalaciones para obtener resultados que ayuden a mejorar nuestra producción.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-12 col-lg-4 p-2">
                            <article class="card h-100" style="background-color:rgb(67, 145, 129) ;">
                                <div class="card-body">
                                    <div class="d-flex mb-3">
                                        <img src="../static/img/image-jonathan.jpg" alt=""
                                            class="border border-secondary border-3  rounded-circle">
                                        <div class="ps-3">
                                            <h6 class="m-0 h5">Jhonatan Velez</h6>
                                            <p class="m-0 ">Granja mis 3 cerditos</p>
                                        </div>

                                    </div>
                                    <div>
                                        <p class="h6 text-dark">Gran servicio me parece que la relación precio resultados es grandiosa, nuestra producción a mejorado mucho contando con su diagnostico oportuno y la tasa de mortalidad en nuestra granja a disminuido significativamente desde que usamos sus servicios, muchas gracias.</p>

                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-12 col-lg-4 p-2 ">
                            <article class="card h-100 bg-white">
                                <div class="card-body">
                                    <div class="d-flex mb-3">
                                        <img src="../static/img/image-jeanette.jpg" alt=""
                                            class="border border-secondary border-3  rounded-circle">
                                        <div class="ps-3">
                                            <h6 class="m-0 h5">Susana Cruces</h6>
                                            <p class="m-0 ">Cruces y asociados</p>
                                        </div>

                                    </div>
                                    <div>
                                        <p class="h6">Sin duda alguna los recomiendo, es increíble lo rápido que diagnostica su aplicación, son top en cuanto a detección de neumonía en cerdos y lo mejor de todo al alcance de un click, sigan brindando este excelente servicio</p>

                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-12 col-lg-8 p-2 ">
                            <article class="card h-100 bg-dark text-light">
                                <div class="card-body">
                                    <div class="d-flex mb-3">
                                        <img src="../static/img/image-patrick.jpg" alt=""
                                            class="border border-secondary border-3  rounded-circle">
                                        <div class="ps-3">
                                            <h6 class="m-0 h5">Sebastian Martinez</h6>
                                            <p class="m-0 ">Cerdos M&S</p>
                                        </div>

                                    </div>
                                    <div>
                                        <p class="h6 text-secondary">Me los recomendó un colega, confieso fue escéptico a cuanto que resultados podia arrojar su aplicación la verdad estoy gratamente agradecido con sus resultados y de como mejoro este problema en nuestra granja</p>
                                        <p class="fs-6 lh-1">
                                            Consulte sus resultados con un especialista y le impresionó el grado de precision de los resultados son referencia en el sector desde ya se los recomiendo.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- segunda derecha -->
                <div class="col-12 col-md-3 p-2 ">
                    <article class="card h-100 ">
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <img src="../static/img/image-kira.jpg" alt=""
                                    class="border border-secondary border-3  rounded-circle">
                                <div class="ps-3">
                                    <h6 class="m-0 h5">Anny Gomez</h6>
                                    <p class="m-0 ">Gerente de granja</p>
                                </div>

                            </div>
                            <div>
                                <p class="h6">Somos lideres en la cría de cerdos para la industria alimenticia, y como tal necesitábamos un proveedor de servicios a nuestra altura, gracias por brindarnos su servicio de calidad y a los mas altos estándares.
                                </p>
                                <p class="fs-6 lh-1">
                                    Recomendamos su servicio 100% calidad y precio competitivo, solo registrarse, subir la foto y datos del animal y listo en minutos están tus resultados sin esperas tediosas.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}